/vendor/
public/wp-admin/
public/wp-includes/
public/wp-content/languages/
public/wp-content/plugins/
public/wp-content/uploads/
public/wp-content/themes/twentytwentyfive/
public/index.php
public/wp-activate.php
public/wp-blog-header.php
public/wp-comments-post.php
public/wp-config.php
public/wp-cron.php
public/wp-links-opml.php
public/wp-load.php
public/wp-login.php
public/wp-mail.php
public/wp-settings.php
public/wp-signup.php
public/wp-trackback.php
public/xmlrpc.php
public/license.txt
public/readme.html



